$mobile: 768px;

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Times New Roman', serif;

  --accent-color: 208 188 122;
  --light-color: 255 255 255;
  --dark-color: 33 36 46;
  --gray-color-10: 247 247 247;
  --gray-color-20: 235, 235, 235;
  --promo-color: 235, 87, 87;

  --transition: ease 200ms;
}
