.logo {
  position: relative;
  z-index: 700;
  display: block;
  width: 92px;
  padding: 2px 5px;
  transition: var(--transition);

  img {
    display: block;
  }

  &:hover {
    opacity: .7;
  }
}