.main {
  padding: 0 0 112px;
}

.main__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 0;
}

.main__wrapper {
  display: flex;
  border: 1px solid rgb(var(--gray-color-20));
}

@media(max-width: $mobile) {
  .main__wrapper {
    display: block;
    border: none;
    border-top: 1px solid rgb(var(--gray-color-20));
  }
}
